<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="m-2">Device general information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="m-2">
        Here you can modify display name or other general information
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <form (ngSubmit)="onSubmit(deviceForm)" #deviceForm="ngForm">
      <div class="container">
        <div class="row">
          <div class="form-group m-2 col">
            <label for="deviceName">Device name:</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="deviceName"
                ngModel
              />
            </div>
          </div>
          <div class="form-group col m-2">
            <label for="level">Data Source ID:</label>
            <input
              type="text"
              class="form-control"
              name="datasourceid"
              ngModel
            />
          </div>
        </div>
  
      <div class="row">
          <div class="form-group col m-2">
            <label for="devicetype">Type of Device:</label>
            <div class="input-group Name">
              <select
                type="text"
                name="devicetype"
                class="form-control"
                ngModel
                
              >
                <option value="" disabled="disabled" selected="selected">
                  Select Device
                </option>
                <option value="thsensor">Temperature & Humidity Sensor</option>
                <option value="cosensor">CO2 Sensor</option>
                <option value="lamp">Lamp</option>
                <option value="fan">Fan</option>
              </select>
            </div>
          </div>
          <div class="form-group col m-2">
              <label for="location">Location:</label>
              <div class="input-group Name">
                <select
                  type="text"
                  name="location"
                  class="form-control"
                  ngModel
                >
                <option value="" disabled="disabled" selected="selected">
                  Select Location
                </option>
                  <option *ngFor="let location of locations" value="{{location.location_name}}">{{location.location_name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="form-group m-2 col">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!deviceForm.valid"
                >
                  Update Device
                </button>
                <button
                class="btn btn-primary m-2"
              >
                Cancel
              </button>
              </div>
            </div>
      </div>
    </form>
  </mat-card>
  